:root{
    --primary: #226D68;
    --text: black;
    --secondary: #ECF8F6;
    --text2: #333;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Grid body */

body{
    color: var(--text);
    display: grid;
    grid-template-columns: 1fr 7fr; 
    grid-template-rows: auto 1 fr auto; 
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer"
    ;
    min-height: 100vh;
}




/* header */

header{
    background-color: var(--primary);
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    position: relative;
    color: var(--secondary);
}

header h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

header p{
    margin: 0;
    font-size: 2rem;
    right: 1rem;
    position: absolute;
}

header p:hover{
  animation: colorScaleSpin 2s linear infinite;
}

@keyframes colorScaleSpin {
  0% {
    transform: rotate(0deg) scale(1.25);
    color: rgb(228, 22, 22);
  }
  25% {
    transform: rotate(90deg) scale(1.50);
    color: rgb(219, 149, 18);
  }
  50% {
    transform: rotate(180deg) scale(2);
    color: rgb(108, 230, 9);
  }
  75% {
    transform: rotate(270deg) scale(1.50);
    color: rgb(26, 160, 223);
  }
  100% {
    transform: rotate(360deg) scale(1.25);
    color: rgb(220, 27, 238);
  }
}

header button{
    display: none;
}


/* Sidebar */


aside{
    background-color: var(--secondary);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

aside nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

aside nav a{
    text-decoration: none;
    display: inline-block;
    color: var(--text);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.2s ease, transform 0.2s ease;
}

aside nav a:hover{
    color: var(--primary);
    transform: scale(1.05);
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}


main h2{
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--primary);
}

main img{
    width: 95%;
    max-height: 400px;
    align-self: center;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 2.5rem;
}


.section-text{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.article h3{
    color: var(--primary);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.article p{
    text-align: justify;
    font-size: 1.2rem;
}


/* footer */


footer{
    background-color: var(--primary);
    padding: 1.5rem;
    text-align: center;
    grid-area: footer;
    font-size: 1.2rem;
    color: var(--secondary);
}

@media (max-width: 768px){
    header button {
        display: block;
        position: absolute;
        left: 1rem;
        background: none;
        border: none;
        font-size: 1.8rem;
        color: var(--secondary);
        cursor: pointer;
    }

    header{
        padding: 1.8rem;
    }

    aside{
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100vh;
        background-color: var(--secondary);
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
        transition: left 0.3s ease;
        z-index: 1000;
        padding-top: 3rem;
    }

    aside.active {
        left: 0;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
          "header"
          "main"
          "footer";
  }
}